<h1>multi auth</h1>

<% if user_signed_in? %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "ログイン", new_user_session_path %>
<%= link_to "サインアップ", new_registration_path(:user) %>
<% end %>

